.vs/SmallCLIRPG/FileContentIndex/2544c944-6067-4d51-87ab-bc6870d0bc46.vsidx
.vs/SmallCLIRPG/FileContentIndex/c3404931-f1e4-4f4f-b195-90cd95488f28.vsidx
.vs/SmallCLIRPG/v17/.suo
.vs/SmallCLIRPG/v17/Browse.VC.db
.vs/SmallCLIRPG/v17/DocumentLayout.json
.vs/SmallCLIRPG/v17/ipch/AutoPCH/169cd69487162b5d/PLAYER.ipch
.vs/SmallCLIRPG/v17/ipch/AutoPCH/a32394184a4dc343/SMALLCLIRPG.ipch
SmallCLIRPG/SmallCLIRPG.vcxproj
SmallCLIRPG/SmallCLIRPG.vcxproj.filters
SmallCLIRPG/SmallCLIRPG.vcxproj.user
